
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}


body{
    height: 100vh;
    width: 100%;
    font-family:   Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    background-color: skyblue;
}

.container{
   
    background-color: whitesmoke;
    width: 33rem;
    height:490px;
    margin: 2rem auto;
    border-radius:5px;
}

.container .form{

    display: flex;
   
}

.container .title{

    width:180px;
    padding: 17px;
    text-align: center; 
 
}

.spann{
   
   margin-bottom:120px;
   padding:3px;
 
}


.form .btn{
    padding: 5px;
    background-color: blueviolet;
    color: white;
    border: none;
    font-size: 29px;
    font-weight: bold;
    margin-right:27px;
    margin-left:11px;
    width:49px;
    height: 43px;
    border-radius:3px;
}

.form input{
    flex: 1;
    padding: 0.8rem;
    margin-left:20px; 
    border-radius:3px;
}


.lists .todo{
    display: flex;
    justify-content: space-between;
    background-color: rgb(165, 163, 163);
    margin-top: 21px;
    padding: 0.2rem;
    cursor: pointer;
    margin-left:21px;
    width:480px;
}

.footer{

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
    margin-left:24px;
    align-items: center;
}


 .removeAll_btn{
     
    padding:9px;
    background-color:blueviolet;
    color:#fff;
    border:none;
    outline: none;
    cursor: pointer;
     width:101px; 
    margin-top: 4vh;
    border-radius: 4px;
    padding: 6px 10px;
    margin-right:48px;
    } 


    h1{
       
        margin-bottom:2vh;
        margin-top:14vh;
        padding-bottom:5px;
       
    }
      





























 
 